@import "tailwindcss";

:root {
  --foreground: #171717;
  --background-color: #f97316; /* can keep if needed elsewhere */
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #ededed;
    --background-color: #f97316;
  }
}

body {
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;

  /* Removed background and rings */
}
